.board {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

pre {
    flex: 1;
    font-size: 1.5em;
}

.board div {
    flex: 1;
    font-size: 1.5em;
}

.red_span {
    color: red;
}

.blue_span {
    color: blue;
}