.board {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    min-height: 75vh;
}

.code {
    flex: 1;
}

.disable_js {
    flex: 1;
    border-top: 2px dashed black;
    padding: 25px 0 0 25px;
    text-align: center;
}

pre {
    flex: 1;
    font-size: 1.7em;
}

pre strong {
    font-weight: normal;
    color: red;
}

pre em {
    font-style: normal;
    color: #2b84ff;
}

pre mark {
    background-color: transparent;
    color: #4ace15;
}


.comment {
    color: #8e8e8e;
}