@import url("php_code.css");

#tools {
    margin-top: 50px;
}

h4 {
    margin-top: 50px;
}

.debug {
    background-color: rgba(233, 116, 255, 0.26);
}

.xdebug-var-dump{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}