.board {
    border: 2px solid black;
}

pre {
    font-size: 1.5em;
}

pre strong {
    color: deeppink;
}

pre em {
    font-style: normal;
    font-weight: bold;
    color: limegreen;
}

pre mark {
    background-color: transparent;
    font-weight: bold;
    color: orange;
}

.pirates_of_the_caribbean {
    background-color: lightseagreen;
    color: white;
    padding: 25px;
}

.character {
    color: red;
}

#date_1655 {
    color: black;
}