html {
    background-color: rgba(16, 7, 123, 0.11);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    color: #10077b;
}

header {
    text-align: center;
}

header h2 {
    font-style: italic;
    font-size: 1.2em;
}

header em {
    font-style: normal;
}

nav {
    margin-bottom: 35px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    border: 1px solid #10077b;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #10077b;
    background-color: white;
}

nav ul li a:hover {
    transition: .3s;
    color: white;
    background-color: #10077b;
}

.content {
    display: flex;
}

.content p {
    flex: 1;
}

.content img {
    padding: 5px;
    background-color: white;
    box-shadow: black 1px 1px 10px;
    margin-left: 100px;
}

.content .text {
    padding: 100px;
}