.board {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    min-height: 75vh;
}

pre {
    flex: 1;
    font-size: 1.4em;
}

pre em {
    font-style: inherit;
    color: grey;
}

.result {
    flex: 1;
    border-left: 2px dashed black;
    font-size: 1.5em;
}

.border {
    border: 4px solid red;
    background-color: rgba(253, 142, 255, 0.16);
}

.border_1 {
    margin-bottom: 30px;
}

.border_2 {
    margin-bottom: 55px;
}

.border_3 {
    margin-bottom: 65px;
}

.border_4 {
    margin-bottom: 60px;
}

#solid_1 {
    border: 4px solid purple;
}

#solid_2 {
    border: 4px solid purple;
    margin: 0;
}

#solid_3 {
    border: 4px solid purple;
    margin: 8px 150px 2px 35px;
}

#solid_4 {
    border: 4px solid purple;
    margin: 0;
    padding: 10px;
}

#solid_5 {
    border: 4px solid purple;
    margin: 10px;
    padding: 20px 0 0 100px;
}

