.link {
    border: 2px solid black;
    margin-top: 25px;
    padding-left: 15px;
}

.link h3 {
    margin-bottom: 0;
}

.link .row {
    display: flex;
    flex-direction: row;
}

.link .row pre {
    font-size: 1.3em;
}

.link .row pre mark {
    background-color: transparent;
    color: red;
}

.link .row a {
    display: inline-block;
    margin: 15px 0 0 25px;
}

.relative_link h3 {
    margin-bottom: 20px;
}

.relative_link .explanation {
    display: flex;
    flex-direction: row;
}