.board {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    min-height: 75vh;
}

pre {
    flex: 1;
    font-size: 1.5em;
    margin-bottom: 0;
}

pre em {
    font-style: normal;
    color: #999999;
}

.result {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 2px dashed black;
    padding: 0 25px 0 25px;
    font-size: 1.4em;
}

#box_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 2px solid purple;
}

.box_1_element:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.5);
}

.box_1_element:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.5);
    align-self: flex-end;
}

.box_1_element:nth-child(3) {
    background-color: rgba(0, 0, 255, 0.5);
}

#box_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 2px solid purple;
}

.box_2_element:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.5);
    order: 2;
}

.box_2_element:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.5);
    order: 1;
}

.box_2_element:nth-child(3) {
    background-color: rgba(0, 0, 255, 0.5);
    order: 3;
}

#box_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 2px solid purple;
}

.box_3_element:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.5);
    flex: 1;
}

.box_3_element:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.5);
    flex: 2;
}

.box_3_element:nth-child(3) {
    background-color: rgba(0, 0, 255, 0.5);
    flex: 1;
}