.board {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    min-height: 75vh;
}

pre {
    flex: 4;
    font-size: 1.7em;
}

pre strong {
    color: deeppink;
}

pre em {
    font-style: normal;
    font-weight: bold;
    color: limegreen;
}

pre mark {
    background-color: transparent;
    font-weight: bold;
    color: orange;
}

.result {
    flex: 1;
    padding-left: 25px;
    border-left: 2px dashed black;
}

.result p {
    margin-top: 120px;
}